
main {
    background-image: url(https://images.unsplash.com/photo-1604719312566-8912e9227c6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGdyb2Nlcnl8ZW58MHx8MHx8&w=1000&q=80);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.add-button {
    width: 150px;
    height: 70px;
    border-radius: 15%;
    border: 2px solid black;
    cursor: pointer;
    font-size: 1.5rem;
    
}

.delete-button {
     width: 150px;
    height: 70px;
    border-radius: 15%;
    border: 2px solid black;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 10px;
}


.add-button:hover {
    transform: translate(0px, 5px);
    background-image: green;
    
}

.title {
    width: 100%;
    height: 100px;
   display: flex;
   text-align: center;
   justify-content: center;
   flex-direction: column;
   font-size: 100px;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
        margin-bottom: 50px;
        
}

.input-form {
       width: 100%;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
     text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
        margin-bottom: 50px;
       font-size: 40px;
}


.form-input {
    width: 300px;
    height: 75px;
    font-size: 2rem;
border: 1px solid black;
}

.add-button-div {
     width: 100%;
    height: 100px;
    display: flex;
   text-align: center;
   justify-content: center;
   margin-top: 20px;
   margin-bottom: 80px;
   box-sizing: border-box;
   
}

.current-items {
    width: 60%;
    height: 700px;
    display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   margin: auto;
   background-image:url(https://spreadsheetpage.com/images/Notebook-Paper-US-Letter.png);
   background-color: green;
   opacity: 0.8;
   border: 4px solid black;
   color: white;
   border-radius: 15%;
   font-size: 2rem;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
        margin-bottom: 50px;
       font-size: 30px;
       box-sizing: border-box;
       flex-direction: column;
       flex-wrap: wrap;
       max-height: 700px;
}

.grocery-class {
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7gi);
    width: 120px;
    height: 110px;
    color: white;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid black;
}



.inputs {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;

}

header {
    margin-bottom: 50px;
}


.bought {
    text-decoration: line-through;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



